<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264608170306-1fjkmhoovocs8nvpmsrb60pmu2ibju1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264608170306-1fjkmhoovocs8nvpmsrb60pmu2ibju1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDfsP-91v71JJt7pIRE9Bje_s23gP-tUYA</string>
	<key>GCM_SENDER_ID</key>
	<string>264608170306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internshipTask1</string>
	<key>PROJECT_ID</key>
	<string>internship-app-80f83</string>
	<key>STORAGE_BUCKET</key>
	<string>internship-app-80f83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264608170306:ios:7f57b3c8ae3c82441448db</string>
</dict>
</plist>